# Web Framework
fastapi
uvicorn[standard]
python-multipart
email-validator
pydantic-settings

# Migrations
alembic

# Auth
passlib[bcrypt]
bcrypt<4.1  # pinned: passlib incompatible with bcrypt 4.1+
python-jose[cryptography]

# Task Queue
celery
redis

# Database & ORM
sqlalchemy
psycopg2-binary

# Vector Database
chromadb

# AI & Emdeddings
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers

# Document Loaders & Parsing
pypdf
unstructured
markdown
